<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.icofsoftware.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsGetSchoolInfoServlet</servlet-name>
    <servlet-class>com.icofsoftware.servlet.NewsGetSchoolInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsGetSchoolInfoServlet</servlet-name>
    <url-pattern>/NewsGetSchoolInfoServlet/*</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>NewsGetMSEInfoServlet</servlet-name>
    <servlet-class>com.icofsoftware.servlet.NewsGetMSEInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsGetMSEInfoServlet</servlet-name>
    <url-pattern>/NewsGetMSEInfoServlet/*</url-pattern>
  </servlet-mapping>
    <welcome-file-list>
        <welcome-file>NewsHome/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
