<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.icofsoftware.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsGetSchoolInfoServlet</servlet-name>
    <servlet-class>com.icofsoftware.servlet.NewsGetSchoolInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsGetSchoolInfoServlet</servlet-name>
    <url-pattern>/NewsGetSchoolInfoServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsGetMSEInfoServlet</servlet-name>
    <servlet-class>com.icofsoftware.servlet.NewsGetMSEInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsGetMSEInfoServlet</servlet-name>
    <url-pattern>/NewsGetMSEInfoServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsGetViewAllServlet</servlet-name>
    <servlet-class>com.icofsoftware.servlet.NewsGetViewAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsGetViewAllServlet</servlet-name>
    <url-pattern>/NewsGetViewAllServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsGetCenterInfoServlet</servlet-name>
    <servlet-class>com.icofsoftware.servlet.NewsGetCenterInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsGetCenterInfoServlet</servlet-name>
    <url-pattern>/NewsGetCenterInfoServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsImgGalleryServlet</servlet-name>
    <servlet-class>com.icofsoftware.servlet.NewsImgGalleryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsImgGalleryServlet</servlet-name>
    <url-pattern>/NewsImgGalleryServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsGetFAQServlet</servlet-name>
    <servlet-class>com.icofsoftware.servlet.NewsGetFAQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsGetFAQServlet</servlet-name>
    <url-pattern>/NewsGetFAQServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsPostServlet</servlet-name>
    <servlet-class>com.icofsoftware.servlet.NewsPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsPostServlet</servlet-name>
    <url-pattern>/NewsPostServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>SendMsg</description>
    <display-name>SendMsg</display-name>
    <servlet-name>SendMsg</servlet-name>
    <servlet-class>com.icofsoftware.servlet.SendMsg</servlet-class>
  </servlet>
  <servlet>
    <description>Comment</description>
    <display-name>Comment</display-name>
    <servlet-name>Comment</servlet-name>
    <servlet-class>com.icofsoftware.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Comment</description>
    <display-name>Comment</display-name>
    <servlet-name>NewsGetNewsHomeServlet</servlet-name>
    <servlet-class>com.icofsoftware.servlet.NewsGetNewsHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMsg</servlet-name>
    <url-pattern>/Alumni/sendmsg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/Alumni/comment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsGetNewsHomeServlet</servlet-name>
    <url-pattern>/NewsGetNewsHomeServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description>Comment</description>
    <display-name>Comment</display-name>
    <servlet-name>DeleteMsg</servlet-name>
    <servlet-class>com.icofsoftware.servlet.DeleteMsg</servlet-class>
  </servlet>
  <servlet>
    <description>Comment</description>
    <display-name>Comment</display-name>
    <servlet-name>FavorMsg</servlet-name>
    <servlet-class>com.icofsoftware.servlet.FavorMsg</servlet-class>
  </servlet>
  <servlet>
    <description>AlumniServlet</description>
    <display-name>AlumniServlet</display-name>
    <servlet-name>AlumniServlet</servlet-name>
    <servlet-class>com.icofsoftware.servlet.AlumniServlet</servlet-class>
  </servlet>
  <servlet>
    <description>ChangePwd</description>
    <display-name>ChangePwd</display-name>
    <servlet-name>ChangePwd</servlet-name>
    <servlet-class>com.icofsoftware.servlet.ChangePwd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlumniImportServlet</servlet-name>
    <servlet-class>com.icofsoftware.servlet.AlumniImportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumniImportServlet</servlet-name>
    <url-pattern>/AlumniImportServlet/*</url-pattern>
  </servlet-mapping>

   <servlet-mapping>
    <servlet-name>DeleteMsg</servlet-name>
    <url-pattern>/deletemsg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FavorMsg</servlet-name>
    <url-pattern>/favormsg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlumniServlet</servlet-name>
    <url-pattern>/as</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePwd</servlet-name>
    <url-pattern>/cp</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>NewsHome/index.jsp</welcome-file>
  </welcome-file-list>
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>com.icofsoftware.servlet.CheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>