<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
 
 	<ul class="nav">
<li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
</ul>
  
   <ul class="nav hidden-xs" id="lg-menu">
       <li class="active"><a href=""><i class="glyphicon glyphicon-home"></i> Home</a></li>
       <li><a href="/ICOFSOFTWARE/NewsHome/AdminNewsPost.jsp"><i class="glyphicon glyphicon-edit"></i> Post News</a></li>
       <li><a href="/ICOFSOFTWARE/NewsHome/AdminAlumniImport.jsp"><i class="glyphicon glyphicon-import"></i> Import Alumni</a></li>
       <!-- <li><a href="NewsGetMSEInfoServlet"><i class="glyphicon glyphicon-list"></i> MSE+X</a></li>
     <li><a href="NewsGetCenterInfoServlet"><i class="glyphicon glyphicon-globe"></i> News Center</a></li>
     <li><a href="NewsImgGalleryServlet"><i class="glyphicon glyphicon-picture"></i> Picture Gallery</a></li>
     <li><a href="NewsFQA.html"><i class="glyphicon glyphicon-info-sign"></i> FQA</a></li>
     <li><a href="NewsHome.html"><i class="glyphicon glyphicon-refresh"></i> Refresh</a></li> -->
 </ul>
 <ul class="list-unstyled hidden-xs" id="sidebar-footer">
     <li>
       <a href="http://www.software.hit.edu.cn"><h5>@School of Software</h5> <!--<i class="glyphicon glyphicon-heart-empty"></i> Bootply--></a>
     </li>
 </ul>

<!-- tiny only nav-->
<ul class="nav visible-xs" id="xs-menu">
      <li><a href="" class="text-center"><i class="glyphicon glyphicon-home"></i></a></li>
      <li><a href="/ICOFSOFTWARE/NewsHome/AdminNewsPost.jsp" class="text-center"><i class="glyphicon glyphicon-edit"></i></a></li>
      <li><a href="/ICOFSOFTWARE/NewsHome/AdminAlumniImport.jsp" class="text-center"><i class="glyphicon glyphicon-import"></i></a></li>
      <!-- <li><a href="NewsGetMSEInfoServlet" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
     <li><a href="NewsGetCenterInfoServlet" class="text-center"><i class="glyphicon glyphicon-globe"></i></a></li>
     <li><a href="NewsImgGalleryServlet" class="text-center"><i class="glyphicon glyphicon-picture"></i></a></li>
     <li><a href="NewsFQA.html" class="text-center"><i class="glyphicon glyphicon-info-sign"></i></a></li>
     <li><a href="NewsHome.html" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li> -->
    </ul>
  
</div>